@using System.IO;
@model IEnumerable<DirectoryInfo>

<div class="jumbotron">
    <h1>Youtube playlist downloader</h1>
    <div>
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken();
        <input name="url" class="form-control" />
        <br />
        <button class="btn btn-lg btn-success" type="submit">Download</button>
        }
    </div>
</div>

<div class="row">
    @foreach (DirectoryInfo di in Model)
    {
        <div class="col-md-4">
            <ul class="list-group">
                @foreach (var file in di.GetFiles())
                {
                    <li class="list-group-item">@file.Name - @(file.Length / 1024 / 1024) MB</li>
                }
            </ul>

        </div>
    }

</div>
